.footer {
  width: 100%;
  position: relative;
}

.footerBackground {
  display: flex;
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  left: 0;
  /* object-fit: cover; */
}

.content {
  position: relative;
  z-index: 10;
  display: flex;
  flex-direction: column;
}

.lable {
  display: flex;
  justify-content: center;
  padding: 6rem 2rem;
}

.investingContainer {
  background: linear-gradient(
    to right,
    rgba(29, 30, 73, 0.8),
    rgba(27, 49, 122, 0.8)
  );
  color: white;
  padding: 5rem 4rem;
  position: relative;
  border-radius: 1rem;
  width: 85%;
}

.heading {
  font-size: 2rem;
  font-weight: 700;
  font-family: "Outfit";
  margin-bottom: 0.5rem;
  line-height: 42.32px;
}

.subheading {
  font-family: "Inter";
  font-weight: 400;
  font-size: 20px;
  margin-bottom: 1rem;
  line-height: 24px;
  color: #ffffffcc;
}

.getStartedButton {
  width: 151px;
  height: 36px;
  top: 212px;
  left: 57px;
  gap: 0px;
  border-radius: 4px 0px 0px 0px;
  opacity: 0px;
  background: #0892d0;
  backdrop-filter: blur(18.55470085144043px);

  box-shadow: 0px 12px 14px 0px #201e4281;
}

.getStartedButton:hover {
  background-color: #2563eb;
}

.coinImage {
  position: absolute;
  right: -2rem;
  top: 10%;
  transform: translateY(-40%);
}

.linksContainer {
  padding-bottom: 2rem;
  color: white;
  font-size: 0.75rem;
}

.columnsContainer {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  justify-content: space-between;
  padding-bottom: 2rem;
}

.logo {
  background-color: white;
  padding: 0.5rem;
  width: 60px;
  height: 45px;
  border-radius: 0.375rem;
  margin-bottom: 1rem;
}

.navItem,
.featureItem,
.legalItem {
  margin-bottom: 0.5rem;
}

.navItem:hover,
.featureItem:hover,
.legalItem:hover {
  color: #60a5fa;
}

.divider {
  position: relative;
  width: 100%;
  height: 0.125rem;
  margin-top: 1rem;
}

.divider::before {
  content: "";
  position: absolute;
  inset: 0;
  background: linear-gradient(to right, transparent, gray, transparent);
  height: 100%;
}

.footerBottom {
  padding: 1rem 0;
  font-size: 0.75rem;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  color: white;
}

.footerBottomLinks {
  display: flex;
  gap: 1rem;
  margin-top: 0.5rem;
}

.footerBottomLink {
  color: white;
}

.footerBottomLink:hover {
  color: #38bdf8;
}

.footerBottomLinkWithBorder {
  border-left: 1px solid #0284c7;
  padding-left: 0.5rem;
  padding-right: 0.5rem;
}

.footer {
  /* Footer-specific styles */
  color: #fff;
}

.footerImage {
  /* Image styles */
  width: 100%;
  height: 100%;
  object-fit: cover;
  position: absolute;
  top: 0;
  left: 0;
}

.footerContent {
  /* Main content styles */
  position: relative;
  z-index: 10;
  padding: 2rem;
}

.label {
  /* Label styles */
  display: flex;
  justify-content: center;
  padding: 2rem;
}

.labelContainer {
  /* Label container styles */
  background: linear-gradient(
    to right,
    rgba(29, 30, 73, 0.8),
    rgba(27, 49, 122, 0.8)
  );
  color: #fff;
  padding: 2rem;
  border-radius: 1rem;
  position: relative;
}

.labelTitle {
  /* Label title styles */
  font-size: 2rem;
  font-weight: bold;
  margin-bottom: 1rem;
}

.labelDescription {
  /* Label description styles */
  color: #808080;
  margin-bottom: 1rem;
}

.labelButton {
  /* Label button styles */
  background-color: #007bff;
  color: #fff;
  padding: 0;
  border: none;
  border-radius: 10.25rem;
  cursor: pointer;
}

.labelCoin {
  /* Label coin styles */
  position: absolute;
  top: 50%;
  right: 2rem;
  transform: translateY(-50%);
  width: 200px;
}

.footerLinks {
  /* Footer links styles */
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  margin-top: 0rem;
}

.footerLinkColumn {
  /* Footer link column styles */
  flex: 1;
  margin-bottom: 2rem;
}

.footerLinkTitle {
  /* Footer link title styles */
  font-size: 1.2rem;
  font-size: 20px;
  font-weight: 800;
  color: #0892d0;
  font-weight: bold;
  margin-bottom: 1rem;
}

.footerLinkList {
  /* Footer link list styles */
  list-style: none;
  padding: 0;
}

.footerLink {
  /* Footer link styles */
  color: #fff;
  text-decoration: none;
  transition: color 0.3s ease-in-out;
}

.footerLink:hover {
  /* Footer link hover styles */
  color: #03b0f4; /* Light blue color */
}
.socialLink {
  &:hover {
    color: #03b0f4; /* Light blue color */
  }
}

.footerLine {
  /* Footer line styles */
  height: 1px;
  background-color: #808080;
  margin: 2rem 0;
}

.footerCopyright {
  /* Footer copyright styles */
  text-align: left;
  align-items: flex-start;
  padding: 1rem;
}

.footerLinks {
  /* Footer links styles (repeated) */
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  margin-left: 8rem;
  justify-content: space-between;
  line-height: 2.1rem;
}

.line {
  position: relative;
  width: 100%;
  height: 8px;
  margin-top: 16px;
  padding: 0;
}
.lineDetail {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  background-image: linear-gradient(to right, transparent, #999, transparent);
  height: 20%;
}

.rightsAndPolicy {
  display: flex;
  justify-content: space-between;
  margin-top: 0.1rem;
  font-size: 0.7rem;
  /* margin: 0 auto; */
  padding: 2rem;
  align-items: center;
  color: #fff;
  height: 1rem;
  /* background-color: #808080; */
  line-height: 0.1rem;
}

.left {
  flex-grow: 1;
}

.right {
  flex-shrink: 0;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  @media (min-width: 768px) {
    justify-content: flex-end;
  }
  margin-top: 8px;
  @media (min-width: 768px) {
    margin-top: 0;
  }
}
.rightBottomItems {
  gap: 16px;
  position: relative; /* To position the pseudo-element */
  padding: 8px;
}

.rightBottomItems::after {
  content: ""; /* Empty content to create the border */
  position: absolute;
  right: 0;
  top: 50%; /* Start at the vertical center */
  height: 16px; /* Adjust the height of the tiny border */
  width: 1px; /* Make the border narrow */
  background-color: #03b0f4; /* Darker blue color for the border */
  transform: translateY(-50%); /* Vertically center the tiny border */
}

.rightBottomItems:hover {
  color: #03b0f4; /* Light blue color on hover */
}
