.buysection{
    background-color:#1E1E49EB ;
    border: 1px solid #162A69 ;
    min-height: 340px;
    border-top-left-radius: 8px;
    border-top-right-radius: 8px;
    border-bottom-left-radius: none;
    border-bottom-right-radius: none;
}
.sendingp{
    font-family: Inter;
font-size: 16px;
font-weight: 400;
line-height: 28px;
text-align: left;
 margin-left: 15px;
 margin-top: 10px;

}
.divinput{
    display: flex;
    align-self: center;
    justify-content: center;
    margin-top: 50px;
}
.inputclass{
    border: #1E1E49EB;
    align-self: baseline;
    font-size: 40px;
    color: white;
    background-color: #1E1E49EB;
    width: 100%;
    height: 100px;
    font-size: 36px;
    text-align: center;
    letter-spacing: 5px;
    font-weight: 600;
    font-family: unset;

    
}
.inputclass:focus {
    outline: none;
}
.inputclass::placeholder{
    color: white;
}
.textandicon{
    color: white;
}
.sectiontwo{
    background-color:#1E1E49EB ;
    border: 1px solid #162A69 ;
    min-height: 90px;
    text-align: left;
    border-top-left-radius: none;
    border-top-right-radius: none;
    border-bottom-left-radius: 8px;
    border-bottom-right-radius: 8px;
}
.fleximagetext{
    margin-left: 15px;
   margin-top: 15px;
}
.flexp1{
    font-family: Inter;
font-size: 20px;
font-weight: 500;
line-height: 28px;
text-align: left;

}
.flexp2{
    font-family: Inter;
    font-size: 16px;
    font-weight: 400;
    line-height: 28px;
    text-align: left;
     
}
.sectionthree{
    background-color:#1E1E49EB ;
    border: 1px solid #162A69 ;
    min-height: 120px;
    text-align: left;
    border-radius:8px ;
    margin-top: 10px;
    padding: 20px;
}
.labelclass{
    font-family: Inter;
font-size: 20px;
font-weight: 500;
line-height: 28px;
text-align: left;

}
.secondinputclass{
    border: #1E1E49EB;
    align-self: baseline;
    width: 100%;
    border: #1E1E49EB;
    height: 50px;
    color: white;
    background-color: #1E1E49EB;
    font-size: 16px;
    font-weight: 200;
    font-family: Inter;
}

.secondinputclass:focus {
    outline: none;
}
.secondinputclass::placeholder{
    color: #FFFFFFCC;
    ;
    font-weight: 300;
}
.sectionfour{
    background-color:#1E1E49EB ;
    border: 1px solid #162A69 ;
    min-height: 70px;
    text-align: center;
    border-radius:8px ;
    margin-top: 10px;
    padding: 20px;
}
.sectionfourp{
    font-family: Inter;
font-size: 24px;
font-weight: 500;
line-height: 23px;


}