/* NavBar.module.css */
.header {
  text-align: left;
  z-index: 9999999999999;
}

.navBar {
  z-index: 9999999999999;
  background: linear-gradient(to right, #1b3560, #1f204a);
  padding-top: 0.5rem;
  padding-left: 0.5rem;
  padding-right: 0.5rem;
}

@media (min-width: 768px) {
  .navBar {
    padding-left: 1rem;
    padding-right: 1rem;
  }
}

.navContainer {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.logo {
  text-decoration: none;
  color: white;
  font-weight: bold;
}

.brightness {
  filter: brightness(125%);
}

.navLinks {
  display: flex;
  align-items: center;
  gap: 1rem;
}

.hiddenOnMobile {
  display: none;
}

@media (min-width: 768px) {
  .hiddenOnMobile {
    display: flex;
  }
}

.link {
  color: white;
  transition: color 0.3s;
}

.link:hover {
  color: skyblue;
}

.dropdown {
  position: relative;
}

.dropdownButton {
  color: white;
  transition: color 0.3s;
  display: flex;
  align-items: center;
}

.dropdownButton:hover {
  color: #0892d0;
}

.dropdownIcon {
  width: 1rem;
  height: 1rem;
  margin-left: 0.25rem;
}

.dropdownMenu {
  display: none;
  position: absolute;
  top: 100%;
  left: 0;
  background-color: #161c24;
  padding: 0.5rem 1rem;
  border-radius: 0.5rem;
  box-shadow: 0 2px 10px rgba(0, 0, 0, 0.2);
}

.dropdown:hover .dropdownMenu {
  display: block;
}

.dropdownItem {
  color: white;
  padding: 0.25rem 0;
  transition: color 0.3s;
}

.dropdownItem:hover {
  color: #0892d0;
}

.borderLeft {
  border-left: 1px solid white;
  padding-left: 0.5rem;
}

.loginButton {
  color: white;
  border: 1px solid white;
  border-radius: 9999px;
  padding: 0.25rem 1rem;
  transition: color 0.3s, background-color 0.3s;
}

.loginButton:hover {
  color: #0892d0;
}

.signupButton {
  color: white;
  background-color: skyblue;
  padding: 0.5rem 1rem;
  border-radius: 9999px;
  transition: background-color 0.3s;
}

.signupButton:hover {
  background-color: #0048e6;
}

.divider {
  margin-top: 0.5rem;
}

.gradientLine {
  height: 0.125rem;
  background: linear-gradient(to right, transparent, #808080, transparent);
}

.NavBar_Box_left_Menu_Items {
  display: flex;
  margin-left: 3rem;
  gap: 1rem;
  cursor: pointer;
}

.NavBar_Box_left_Menu_Item {
  position: relative; /* Ensure that the ball can be positioned relative to this item */
  margin-right: 15px;
  color: #ffffff; /* Default color for menu items */
  cursor: pointer;
}

.NavBar_Box_left_Menu_Item:hover {
  color: #0892d0; /* Change color on hover */
}

.NavBar_Box_left_Menu_Item.active {
  color: #0892d0; /* Color for active menu item */
}

.NavBar_Box_left_Menu_Item_ActiveBall {
  position: absolute;
  bottom: -0.6rem; /* Adjust this value based on the height of your button and ball size */
  left: 50%; /* Center the ball horizontally under the button */
  transform: translateX(-50%); /* Center the ball horizontally */
  width: 19px;
  height: 11px;
  display: none; /* Initially hidden */
}

.NavBar_Box_left_Menu_Item.active .NavBar_Box_left_Menu_Item_ActiveBall {
  display: block; /* Show the ball when the item is active */
}
