.stakingContainer {
    color: rgba(255, 255, 255, 0.8);
    font: 24px Outfit, sans-serif;
    text-transform: uppercase;
    border-radius: 0;
    display: flex;
    max-width: 581px;
    flex-direction: column;
    padding: 19px 0 91px;
  }
  
  .stakingContent {
    display: flex;
    flex-direction: column;
    background-color: rgba(30, 30, 73, 0.92);
    border: 1px solid var(--Secondary-color, #162a69);
    overflow: hidden;
    position: relative;
    min-height: 528px;
    width: 100%;
    padding: 24px 20px 6px;
  }
  
  @media (max-width: 991px) {
    .stakingContent {
      max-width: 100%;
    }
  }
  
  .backgroundImage {
    position: absolute;
    inset: 0;
    height: 100%;
    width: 100%;
    object-fit: cover;
    object-position: center;
  }
  
  .stakingHeader {
    position: relative;
    align-self: flex-start;
    display: flex;
    gap: 40px 100px;
    color: #fff;
    white-space: nowrap;
    flex-wrap: wrap;
    font: 500 16px/28px Inter, -apple-system, Roboto, Helvetica, sans-serif;
  }
  
  @media (max-width: 991px) {
    .stakingHeader {
      max-width: 100%;
      white-space: initial;
    }
  }
  
  .stakingIcon {
    aspect-ratio: 1;
    object-fit: contain;
    object-position: center;
    width: 24px;
    align-self: flex-start;
  }
  
  .stakingInputWrapper {
    position: relative;
    border-radius: 4px;
    background-color: #162a69;
    display: flex;
    margin-top: 12px;
    gap: 20px;
    font-weight: 400;
    flex-wrap: wrap;
    justify-content: space-between;
    padding: 8px 16px;
  }
  
  @media (max-width: 991px) {
    .stakingInputWrapper {
      max-width: 100%;
    }
  }
  
  .balance {
    color: rgba(255, 255, 255, 0.6);
    font: 14px/28px Inter, sans-serif;
  }
  
  .stakingAmount {
    color: rgba(255, 255, 255, 0.8);
    text-transform: uppercase;
    font: 24px Outfit, sans-serif;
    background: transparent;
    border: none;
    text-align: right;
  }
  
  .recipientAddressWrapper {
    margin-top: 24px;
  }
  
  .recipientAddressLabel {
    position: relative;
    color: #fff;
    font: 500 16px/28px Inter, -apple-system, Roboto, Helvetica, sans-serif;
  }
  
  .recipientAddressInput {
    position: relative;
    border-radius: 4px;
    background-color: #162a69;
    display: flex;
    margin-top: 12px;
    justify-content: center;
    padding: 14px 0;
  }
  
  @media (max-width: 991px) {
    .recipientAddressInput {
      max-width: 100%;
      padding: 14px 20px;
    }
  }
  
  .addressIcon {
    aspect-ratio: 0.89;
    object-fit: contain;
    object-position: center;
    width: 16px;
  }
  
  .calculatorSection {
    margin-top: 49px;
  }
  
  @media (max-width: 991px) {
    .calculatorSection {
      margin-top: 40px;
    }
  }
  
  .calculatorTitle {
    position: relative;
    color: #fff;
    font: 500 16px/28px Inter, -apple-system, Roboto, Helvetica, sans-serif;
  }
  
  .calculatorDivider {
    background-color: #1f398b;
    height: 2px;
    border: none;
    margin: 5px 0 9px;
  }
  
  @media (max-width: 991px) {
    .calculatorDivider {
      max-width: 100%;
    }
  }
  
  .calculatorInfo {
    position: relative;
    border-radius: 8px;
    background-color: #162a69;
    display: flex;
    gap: 16px;
    color: #fff;
    flex-wrap: wrap;
    padding: 20px 16px;
    font: 300 14px/22px Inter, -apple-system, Roboto, Helvetica, sans-serif;
  }
  
  .infoIcon {
    aspect-ratio: 1;
    object-fit: contain;
    object-position: center;
    width: 20px;
    align-self: flex-start;
  }
  
  .calculatorDescription {
    flex-grow: 1;
    width: 469px;
    flex-basis: auto;
  }
  
  @media (max-width: 991px) {
    .calculatorDescription {
      max-width: 100%;
    }
  }
  
  .divider {
    background-color: #1f398b;
    height: 1px;
    border: none;
    margin-top: 102px;
  }
  
  @media (max-width: 991px) {
    .divider {
      max-width: 100%;
      margin-top: 40px;
    }
  }
  
  .approvalSection {
    display: flex;
    margin-top: 36px;
    width: 100%;
    flex-direction: column;
    font-family: Inter, sans-serif;
    color: #fff;
    padding: 0 42px 0 20px;
  }
  
  @media (max-width: 991px) {
    .approvalSection {
      max-width: 100%;
      padding-right: 20px;
    }
  }
  
  .infiniteApproval {
    align-self: flex-start;
    display: flex;
    gap: 14px;
    font-size: 16px;
    font-weight: 500;
    line-height: 28px;
  }
  
  .approvalIcon {
    aspect-ratio: 1;
    object-fit: contain;
    object-position: center;
    width: 24px;
    margin: auto 0;
  }
  
  .approveButton {
    border-radius: 4px;
    background: var(--Primary-Color, #0892d0);
    box-shadow: 0 12px 14px 0 rgba(32, 30, 66, 0.51);
    backdrop-filter: blur(9.277350425720215px);
    align-self: flex-end;
    margin-top: 48px;
    font-size: 20px;
    font-weight: 400;
    text-align: right;
    padding: 7px 24px 14px;
    border: none;
    color: #fff;
    cursor: pointer;
  }
  
  @media (max-width: 991px) {
    .approveButton {
      margin-top: 40px;
      padding: 7px 20px 14px;
    }
  }