.stakingContainer {
  max-width: 820px; /* Adjusted width */
  margin: 0 auto;
  padding: 20px;
  border-radius: 10px;
  background-color: rgba(30, 30, 73, 0.92);
  box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.1);
  margin-top: 0px;
  margin-bottom: 100px;
  color: rgba(255, 255, 255, 0.8);
  font: 24px Outfit, sans-serif;
  display: flex;
  flex-direction: column;
  overflow: hidden;
  position: relative;
}

.title {
  font-size: 18px;
  font-weight: bold;
  /* margin-bottom: 20px; */
  text-align: left; /* Left align title */
}

.row {
  display: flex;
  justify-content: space-between;
  align-items: center; /* Center items vertically */
  margin-bottom: 16px; /* Space between rows */
}

.leftAlign {
  flex: 1; /* Left column takes available space */
  text-align: left; /* Left align text */
  font-size: 18px;
}

.rightAlign {
  flex: 1; /* Right column takes available space */
  text-align: right; /* Right align text */
  font-size: 20px;
}

.fullWidth {
  width: 100%; /* Full width for labels */
  font-size: 18px;
  text-align: left;
}

.input {
  width: 100%;
  padding: 8px;
  border-radius: 5px;
  border: 1px solid #0892D0;
  color: white;
  margin: 5px 0;
  background-color: #162A69;
}

.radioInput {
  margin-right: 8px; /* Adjust margin */
}

.checkbox {
  margin-left: 10px;
}

.stakeButton {
  width: 150px;
    padding: 10px;
    border: none;
    height: 47px;
    background-color: #0892D0;
    color: white;
    font-size: 16px;
    border-radius: 5px;
    cursor: pointer;
}

.stakeButton:hover {
  color: skyblue; /* Change text color on hover */
}

.message {
  margin-top: 20px;
  font-size: 14px;
  color: #ff4f4f;
  text-align: center;
}

.tokenPairContainer {
  display: flex; /* Use flexbox to align token pairs in a row */
  justify-content: space-between; /* Space out token pairs */
  flex: 1; /* Allow token pair container to take available space */
}

.tokenPair {
  display: flex;
  align-items: center; /* Vertically center the text and icon */
  justify-content: flex-start; /* Align items to the start */
}

.tokenPair label {
  display: flex; /* Ensure label uses flexbox to align text and image */
  align-items: center; /* Center items vertically */
}
.amountLabel {
  font-size: 18px; /* Set font size to 18px for the amount label */
  margin-bottom: 8px; /* Add some space below the label */
}
.inputandlabel{
  width: 100%;
  text-align: left;
}
.labelandradios{
  width: 100%;
    text-align: left;
    font-size: 18px;
}