.tokenSelectorCard {
  display: flex;
  flex-direction: column;
  border-radius: 8px;
  background-color: rgba(30, 30, 72, 1);
  padding: 23px 20px 14px;
  border: 1px solid rgba(22, 42, 105, 1);
}

.selectedToken {
  display: flex;
  gap: 14px;
  justify-content: space-between;
  background-color: rgba(30, 30, 72, 1);
  padding: 10px;
  cursor: pointer;
  border-radius: 8px;
}

.tokenInfo {
  display: flex;
  gap: 14px;
  color: rgba(255, 255, 255, 0.9);
}

.searchBar {
  background-color: rgba(22, 42, 105, 1);
  border-radius: 62px;
  display: flex;
  padding: 10px 16px;
}

.tokenList {
  display: flex;
  flex-direction: column;
  margin-top: 20px;
}

.tokenItem {
  display: flex;
  gap: 14px;
  cursor: pointer;
}

.tokenItem:hover {
  background-color: rgba(22, 42, 105, 0.8);
  border-radius: 8px;
  padding: 8px;
}
